<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- se puede traer variables del appcomponent.ts-->

<!-- <h1>{{title}}</h1> -->
<!--DIRECTIVAS DE ATRIBUTO MANEJAN LO QUE ES ELEMENTO (DIV)-->
<!--<div [ngClass]="hayerror ? 'error' : 'success' ">{{numero + 2}}</div>-->
<!-- <div [ngClass]="numero >10 ? 'error' : 'success' ">{{numero}}</div>
<br> -->
<!--FORMA ALTERNATIVA puedo pasar un objeto donde la clave a ser el nombre de la clase -->
<!-- <div [ngClass]="{ 'success':numero  === 10 , 'error' : numero === 60}">{{numero}}</div>
<hr>
<h2>ngStyle</h2>
<div [ngStyle]="{'font-size': miFontSyze}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet provident accusamus sit repellendus doloremque suscipit hic at quibusdam quod, voluptatum cumque commodi cupiditate modi necessitatibus culpa? Nisi suscipit aperiam inventore?
</div> -->
<!--DIRECTIVAS ESTRUCTURALES MANEJAN LA ENVOLTURA DEL ELEMENTO NOS PERMITEN JUGAR CON LA ESTRUCTURA-->
<!--NGFOR SE UTILIZA PARA ITERAR SOBRE COLECCIONES DE OBJETOS Y SIRVE PARA MULTIPLICAR UNA X CANTIDAD DE VECES UN ELEMENTO-->
<div>
<h2>Lista 1</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>apellido</th>
      <th>edad</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let personas of data">
    <tr>
      <td>{{personas.nombre}}</td>
      <td>{{personas.apellido}}</td>
      <td>{{personas.edad}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>
<h2>Lista 2</h2>
<ul>
  <li *ngFor="let alumno of ['marcos','luis','johanna','jesus']; let i =index"><!--esta funcion lo que hace es recorrer la variable y lo de abajo imprime cada uno de los valores-->
    {{i}} - {{alumno}} <span *ngIf="alumno ==='marcos'" class="success"></span>
    
  </li>
</ul>
<!--DIRECTIVAS CONDICIONALES SE ENCARGAN DE MOSTRAR ELEMENTOS DE ACORDE A LA CONDICION QUE CUMPLAN-->
<!-- <h2>Ngif</h2> -->

<!-- <p *ngIf="hayerror; else todoOkTemplate" class="error">Ocurrio un error</p>
<ng-template #todoOkTemplate>
  <p class="success">Todo esta Ok</p>
</ng-template>
<button (click)="hayerror = !hayerror" type="button">Hay error toggle</button>-->
<!-- <button (click)="onClick($event)" type="button">Hay error toggle</button>
<input (change)="onInputChange($event)" type="text"> -->


<!--NgSwitch evaluar varias condiciones y mostrar algun caso-->
<!-- <h2>NgSwitch</h2>
<div [ngSwitch]="status">
  <div *ngSwitchCase="1">
    estado 1
  </div>
  <div *ngSwitchCase="2">
    estado 2
  </div>
  <div *ngSwitchCase="3">
    estado 3
  </div>
  <div *ngSwitchDefault>
    no es valido
  </div>
</div> -->
<!--BINDING ENLAZAMIENTO O ENLAZAR CUANDO ENLAZAMOS UNA CLASE CON EL HTML-->

